<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-bold" href="#">
      <i class="fa fa-modx" aria-hidden="true"></i>
      <span class="lora">EvoTech solutions</span>
    </a>
    <div class="nav-item lora">
    <ul>
      <li><button class="btn btn-outline">Home</button></li>
      <li><button class="btn btn-outline">About</button></li>
      <li><button class="btn btn-outline">Services</button></li>
      <li><button class="btn btn-outline">Contact Us</button></li>
    </ul>
  </div>
  </div>
</nav>
