

.name{
    color: #f4667c;
    font-weight: 500;
}.form-control{
    margin-top: 10px;
    border: 2px solid #EF7C8E;
    background-color: #B6E2D3;
    color: #f4667c;
    border-radius: 30px;
}.container{
    margin-top: 100px;
}.btn-outline{
    
    padding: 10px;
    margin-bottom: 50px;
    border: 2px solid #EF7C8E;
    color:  #f4667c;
    border-radius: 30px;
    
}
.btn-outline:hover{
    background-color: #EF7C8E;
    border: 2px solid #EF7C8E;
    color: #fef9f8;
}
.fs-4{
    
    padding: 20px;
}
.lora{
    background-color: #EF7C8E;
    padding: 35px;
    border: 2px solid #EF7C8E;
    border-radius: 30px;
}